* {
	padding: 0;
	margin: 0;
}

body {
	background: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#headerText {
	width: 100%;
	height: 70px;
	position: absolute;
	background: rgba(206, 214, 224,0.3);
	margin-top: 200px;
}

#headerText h1 {
	text-align: center;
	color: rgba(255, 250, 101,1.0);
	text-shadow: 1px 1px 1px;
    padding: 10px;
}

#sideBar.active {
	left: 0px;
}

#sideBar {
	position: fixed;
	width: 250px;
	height: 100%;
	background: white;
	border-right: 4px solid white;
	left: -250px;

	-moz-transition: all 600ms;
	-webkit-transition: all 600ms;
	transition: all 600ms;
}

#sideBar ul li:first-child {
	text-align: center;
	color: black;
	font-size: 30px;
	list-style: none;
	padding: 55px 10px 10px 10px;
}

#sideBar ul li:not(:first-child) {
	width: 90%;
	margin-left: 10%;
	font-size: 20px;
	list-style: none;
	padding: 15px 10px;
}

#sideBar ul li a {
	color: black;
	text-decoration: none;
}

#sideBar ul li a:hover {
	color: blue;
} 

.menuButton {
	position: absolute;
	left: 270px;
	top: 20px;
	background: white;
	padding: 10px;
	border-radius: 12px;
	cursor: pointer;
}

.menuButton span {
	display: block;
	width: 25px;
	height: 4px;
	background: black;
	margin: 4px 0;
}

.slider {
	width: 600px;
	height: 500px;
	margin:auto;
	border-radius: 10px;
	overflow: hidden;
}

.slides {
	width: 100%;
	height: 500px;
	display: flex;
}

.slides input {
	display: none;
}

.slide {
	margin-top: 220px;
	transition: 2s;
}

.slide img {
	width: 600px;
	height: 400px;
}

#text1 h1 {
	color: white;
	position: absolute;
	display: block;
	background: rgba(0,0,0,0.5);
	font-size: 20px;
	text-align: center;
	width: 560px;
	padding: 20px;
	margin-top: 100px;

}

#text2 h1 {
	color: white;
	position: absolute;
	display: block;
	background: rgba(0,0,0,0.5);
	font-size: 20px;
	text-align: center;
	width: 560px;
	padding: 20px;
	margin-top: 100px;

}

#text3 h1 {
	color: white;
	position: absolute;
	display: block;
	background: rgba(0,0,0,0.5);
	font-size: 20px;
	text-align: center;
	width: 560px;
	padding: 20px;
	margin-top: 100px;

}

.navigation-manual {
	position: absolute;
	width: 600px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn {
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child) {
	margin-right: 30px;
}

.manual-btn:hover {
	background: white;
}

#radio1:checked ~ .first {
	margin-left: 0;
}

#radio2:checked ~ .first {
	margin-left: -100%;
}

#radio3:checked ~ .first {
	margin-left: -200%;
}

.slider2 {
	width: 600px;
	height: 500px;
	margin:auto;
	border-radius: 10px;
	overflow: hidden;
}

.slides2 {
	width: 100%;
	height: 500px;
	display: flex;
}

.slides2 input {
	display: none;
}

.slide2 {
	transition: 2s;
}

.slide2 img {
	width: 600px;
	height: 400px;
}

.navigation-manual2 {
	position: absolute;
	width: 600px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn2 {
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn2:not(:last-child) {
	margin-right: 30px;
}

.manual-btn2:hover {
	background: white;
}

#radio4:checked ~ .first2 {
	margin-left: 0;
}

#radio5:checked ~ .first2 {
	margin-left: -100%;
}

#radio6:checked ~ .first2 {
	margin-left: -200%;
}

#radio7:checked ~ .first2 {
	margin-left: -300%;
}

#radio8:checked ~ .first2 {
	margin-left: -400%;
}
